// #region ROOT ==================== //
:root {
  --base: 16px;

  @media (min-width: 480px) {
    --base: 17px;
  }

  @media (min-width: 768px) {
    --base: 18px;
  }
  
  --root: calc( var(--base) * 0.75);
  --h1: 2.666666667rem;
  --h2: 2.333333333rem;
  --h3: 2rem;
  --h4: 1.666666667rem;
  --h5: 1.5rem;
  --h6: 1.333333333rem;
  --h7: 1.166666667rem;
  --h8: 1rem;
  --h9: 0.889333333rem;
  --lh: 2rem;
  
  --muted-1: rgb( 51, 51, 51, 0.1);
  --muted-2: rgb( 51, 51, 51, 0.2);
  --muted-3: rgb( 51, 51, 51, 0.3);
  --muted-4: rgb( 51, 51, 51, 0.4);
  --muted-5: rgb( 51, 51, 51, 0.5);
  --muted-6: rgb( 51, 51, 51, 0.6);
  --muted-7: rgb( 51, 51, 51, 0.7);
  --muted-8: rgb( 51, 51, 51, 0.8);
  --muted-9: rgb( 51, 51, 51, 0.9);

  --fgColor: #1b1e23;
  --bgColor: #f7f7f7;
  --headingColor: #333333;
  // --linkColor: #0277bd;
  --linkColor: #35495E;
  --linkVisited: #4527a0;
  --linkHover: #3949ab;
  --linkActive: #0277bd;
  --vue-green: #42b983;
  --vue-blue: #35495E;
  
}
// #endregion ROOT ==================== //

// #region FONT ==================== //
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Source+Serif+Pro&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Roboto|Source+Serif+Pro&display=swap');
// $sans-serif: Lato, Roboto, sans-serif;
$arial: 'Helvetica', Arial, sans-serif;
// $sans-serif: system-ui, apple-system, "Segoe UI",
// "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;

$serif: 'Source Serif Pro', serif;
$sans-serif: 'Arimo', sans-serif;
$headingFont: $arial;
$monospace: "Menlo", "Consolas", "Roboto Mono",
  "Ubuntu Monospace", "Noto Mono", "Oxygen Mono",
  "Liberation Mono", monospace, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// #endregion FONT ==================== //

// #region COLORS ================== //
$fontColor: var(--fgColor);
$backgroundColor: var(--bgColor);
$headingColor: var(--headingColor);
$linkColor: var(--linkColor) ;
// #endregion COLORS ================== //





